@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
select,
input {
    -webkit-appearance: none !important;
    appearance: none !important;
    -moz-appearance: none !important;
}
.ws-chat-btn-el-container {
    display: none !important;
}
.ws-chat-container {
    left: unset !important;
    right: 0 !important;
}
.vue-slider-process {
    background-color: #f4b81e !important;
}
.vue-slider-dot-handle {
    border: 1px solid #f4b81e !important;
    background-color: #f4b81e !important;
    box-shadow: none !important;
}
.btn-gc {
    color: #fff;
    background-color: #ffc600;
    border: none;
    &:hover {
        background-color: #cca000;
    }
}
ul.tree-list {
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
    button {
        border: none;
        background: transparent;
    }

    button.active-li {
        a {
            color: #333333 !important;
        }
    }

    & > li {
        border-bottom: 1px solid #495057;
        span.angle {
            background: #495057;
            width: 25px;
            height: 25px;
            border-radius: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }
    a {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;

        color: #ffffff;
    }
    li {
        width: 100%;

        button.value {
            display: block;
            text-align: left;
            width: 100%;
            padding: 10px 0px;
            font-size: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .rotate {
                transform: rotate(90deg);
            }
        }

        .actions {
            display: inline-block;
            // width: 200px;
            position: relative;
            z-index: -1;
        }

        ul.children-ul {
            list-style-type: none;
            margin: 0px;
            display: none;
            border-bottom: 1px solid rgba(51, 51, 51, 0.3) !important;
            a {
                font-weight: normal !important;
            }
            span.angle {
                background: transparent;
            }
        }

        ul.active {
            display: block;
        }
    }
}
.container-z {
    padding: 0px 30px;
    margin: 0 auto;
}

.container-zz {
    padding: 0px 30px;
    margin: 0 auto;
}
.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row-z {
    display: flex;
    flex-wrap: wrap;
}
@media (min-width: 1435px) {
    .container-z {
        max-width: 1405px;
    }
    .container-zz {
        max-width: 1405px;
    }
}
.container-one {
    padding: 0 30px;
    margin: 0 auto;
}
@media (min-width: 1435px) {
    .container-one {
        max-width: 1405px;
    }
}
@media (max-width: 834px) {
    .container-one {
        padding: 0 15px;
    }
}
@media (min-width: 340px) and (max-width: 576px) {
    .productby-id {
        .slick-dots li button:before {
            font-size: 10px !important;
        }

        .slick-dots li.slick-active button:before {
            color: #ffc600 !important;
        }
    }
    .container-z {
        padding: 0px 15px;
        h1 {
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
        }
    }
    .container-zz {
        padding: 0px;
        // margin: 0px -15px;
        overflow: hidden;
    }
    .container-one {
        h1 {
            font-weight: bold !important;
            font-size: 18px !important;
            line-height: 22px !important;
        }
    }
}
